---
layout: page
description: "欢迎来到提瓦特大陆"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>


<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}
		body{
			background-color:#596653;
		}
	    .yinyue {
			width: 300px;
			height: 300px;
			border: 1px solid aqua;
			margin:50px 500px;
		}
		
		
		.bofang  {
			width: 100px;
			height: 100px;
			background-color: aqua;
		}
		.muted ,.play,.prefer,.next{
			width: 60px;
			height: 30px;
			background-color: aquamarine;
			text-align: center;
			line-height: 30px;
		}
	     #kongzhi ,#shangxia {
			 margin: 10px 530px;
		 }
		 
		
		
		</style>
	</head>
	<body>
		
		<div id="content">
			<img class="yinyue" src="img/yinyue1.jpg" >
			<audio src="img/yinyue1.mp3" >
			</audio>
			<div id="anniu">
				<div id="kongzhi">
					<button  class="muted"  type="button" >静音</button>
					<img class="bofang" src="img/播放.png" >
					<button class="play" type="button" >播放</button>
				</div>
				<div id="shangxia">
					<button class="prefer" type="button">上一首</button>
					<span>音量</span>
					<input class="volume" type="range"  min="0" max="1"step="0.01" />
					<button class="next" type="button">下一首</button>
				</div>
				
				
			</div>
			
		</div>
		
		<script type="text/javascript">
			var index=0;
			
			var srcs=['img/yinyue1.mp3','img/yinyue2.mp3','img/yinyue3.mp3'];
            var imgArr=['img/yinyue1.jpg','img/yinyue2.jpg','img/yinyue3.jpg'];
			var audio =document.querySelector("audio");
			var playBtn =document.querySelector(".play");
			var mutedBtn =document.querySelector(".muted");
			var volumnBtn=document.querySelector(".volume");
			var bofang= document.querySelector('.bofang');
			var prefer =document.querySelector(".prefer");
			var nextBtn=document.querySelector(".next");
			var yinyue =document.querySelector(".yinyue")
			
			
			playBtn.onclick=function(){
				if(audio.paused===true){
					audio.play();
					bofang.src='img/播放.png';
					audio.value="播放";
					
				}else{
					audio.pause();
					bofang.src ='img/暂停.png';
					audio.value="暂停";
				}
				
			}
			mutedBtn.onclick=function(){
				if(audio.muted==true){
					audio.muted=false;
				}
				else{
					audio.muted=true;
					bofang.src ='img/静音.png';
				}
			}
			volumnBtn.onchange=function(){
			     audio.volume=volumnBtn.value;
			}
			prefer.onclick=function(){
				index--;
				if(index<0){
					index=srcs.length-1;
				}
				audio.srcs=srcs[index];
				yinyue.src=imgArr[index];
				
			}
			
			nextBtn.onclick=function(){
				index++;
				if(index==srcs.length){
					index=0;
				}
				audio.src=srcs[index];
				yinyue.src=imgArr[index];
			}
		</script>
	</body>
</html>

{% endif %}
